html,
body {
    height: 100%;
}

header {
    margin: 0 auto;
    padding: 0 auto;
}

.titulo {
    color: rgb(90, 90, 7);
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

body {
    margin: 0;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
